#!/usr/bin/python
# -*- coding: utf-8 -*-
import os.path

CIV4BTS_PATH = r"/opt/spiele/Civ4/Beyond the Sword"
ALTROOT_BASEDIR = os.path.abspath(".")
MOD = "PB Mod_v9"  # Default value

GAMES = {
    "1": {"name": "Pitboss 1", "mod": MOD,
          "altroot": os.path.join(ALTROOT_BASEDIR, "PB1")},
    "2": {"name": "Pitboss 2", "mod": MOD,
          "altroot": os.path.join(ALTROOT_BASEDIR, "PB2")},
    # [...]
}

# Other overrides
BTS_WRAPPER_WWW_DIR = r"/var/www/html/PBs"
