{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<meta charset="UTF-8">
<title>{% block title %}{% trans "PBSPY: Civilization 4 PitBoss Statistics" %}{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url 'game_list' %}">
                {% trans "games" %}
            </a></li>
            <li><a href="{% url 'auth_login' %}">
                {% trans "login" %}
            </a></li>
            <li><a href="{ url 'logout' }">
                {% trans "logout" %}
            </a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html> 