{% load i18n %}
{% load staticfiles %}
{% load compile_static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<meta charset="UTF-8">
<title>{% block title %}{% trans "PBSPY: Civilization 4 PitBoss Statistics" %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{% static 'pbspy/css/defaultstyle/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}{% compile "pbspy/less/defaultstyle/theme.less" %}" />

</head>
{% spaceless %}
<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'auth_logout' %}">
                    {% trans "logout" %}
                  </a>
                  (
                  {% blocktrans %}
                  Logged in as {{ user }}.
                  {% endblocktrans %}
                  )
                  </li>
                <li><a href="{% url 'game_create' %}">
                    {% trans "register new PitBoss" %}
                </a></li>
            {% else %}
                <li><a href="{% url 'auth_login' %}">
                    {% trans "login" %}
                </a></li>
                <li><a href="{% url 'registration_register' %}">
                    {% trans "register" %}
                </a></li>
            {% endif %}
            <li><a href="{% url 'game_list' %}">
                {% trans "games" %}
            </a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
{% endspaceless %}
</html>
