{% extends "pbspy/base.html" %}
{% load i18n %}

{% block content %}
    <h1 id="game_name">{{ game.name }}</h1>

    <div id="game_summary">
      {% if can_manage %}
      (<a href="{% url 'game_manage' game.id "" %}">manage game</a>)
      {% endif %}
      <div id="game_metadata">
        <h2>{% trans "game status" %}</h2>
        <div class="game_metadata">
          <p class="game_info">{% trans "Turn" %}: {{ game.turn|default_if_none:_("n/a") }}</p>
          <p class="game_info">{% trans "Year" %}: {{ game.year_str|default:_("n/a") }}</p>
          {% if game.timer %}
              <p class="game_info">{% trans "Timer" %}:
                  {% blocktrans with end=game.timer_end|timeuntil hours=game.timer_max_h %}
                      Turn ends in {{ end }} ({{ hours }} hours per turn)
                  {% endblocktrans %}
              </p>
          {% else %}
              <p class="game_info">{% trans "No timer set." %}:</p>
          {% endif %}
          <p class="game_info">
              {% if game.is_paused %}
                  {% trans "The game is paused." %}
              {% else %}
                  {% trans "The game is not paused." %}
              {% endif %}
          </p>
          <p class="game_info">
              Admins for this game: {{ game.admins.all | join:", " }}
          </p>
        </div>
        <div class="game_url"><a href="{{ game.url }}">{{ game.url }}</a></div>
      </div>

      <div id="game_description">
        <h2>{% trans "game description" %}</h2>
        <div class="game_description">
            <pre>
                {{ game.description }}
            </pre>
        </div>
    </div>

    <h2>{% trans "player summary" %}</h2>
    <div id="game_players">
        {% if players %}
            <table class='game_players'>
                <tr>
                  <th class="colFinish"  >
                    <a href="{% url 'game_detail' game.id %}?player_order={{ orders.id }}">⌛</a>
                  </th>
                  <th class="colName"    >
                    <a href="{% url 'game_detail' game.id %}?player_order={{ orders.name}}">{% trans "Name" %}</a></th>
                  <th class="colLeader"  >
                    <a href="{% url 'game_detail' game.id %}?player_order={{ orders.leader}}">{% trans "Leader" %}</a>
                  </th>
                  <th class="colNation"  >
                    <a href="{% url 'game_detail' game.id %}?player_order={{ orders.civ}}">{% trans "Nation" %}</a>
                  </th>
                  <th class="colScore"  >
                    <a href="{% url 'game_detail' game.id %}?player_order={{ orders.score}}">{% trans "Score" %}</a>
                  </th>
                  <th class="colStatus"  >
                    <a href="{% url 'game_detail' game.id %}?player_order={{ orders.status}}">{% trans "Status" %}</a>
                  </th>
                </tr>
                {% for player in players %}
                    <tr>
                      <td class="colFinish"  >{% if player.finished_turn %}*{% endif %}</td>
                      <td class="colName"    >{{ player.name }}</td>
                      <td class="colLeader"  >{{ player.leader }}</td>
                      <td class="colNation"  >{{ player.civilization }}</td>
                      <td class="colScore"  >{{ player.score }}</td>
                      <td class="colStatus"  >{{ player.status }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>{% trans "No players available yet." %}</p>
        {% endif %}
    </div>

    <h2>{% trans "game log" %}</h2>
    <div id="game_log">
        {% if log %}
            <table class='game_log'>
                <tr>
                    <th class="colDate">{% trans "Time" %}</th>
                    <th class="colTurn">{% trans "Turn" %}</th>
                    <th class="colPlayer">{% trans "Player" %}</th>
                    <th class="colEvent">{% trans "Event" %}</th>
                </tr>
            {% for logentry in log %}
                <tr>
                    <td class="colDate">{{ logentry.date }}</td>
                    <td class="colTurn">{{ logentry.turn }}</td>
                    <td class="colPlayer">{{ logentry.player_name|default:"-" }}</td>
                    <td class="colEvent">{{ logentry.message }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>{% trans "No game log entry available yet." %}</p>
        {% endif %}
    </div>
{% endblock %}
