{% load staticfiles %}
{% load bleach_tags %}

{% block content %}
<table class='game_victory'>
    <tr>
        <th class="colVicHeadline" colspan="2">
            {% if victory_info.get_victory_headline == "" and victory_info.display_always %}
            Player not defined. Select one or headline will be empty.
            {% else %}
            {{ victory_info.get_victory_headline }}
            {% endif %}
        </th>
    </tr>
    <tr>
        <td class="colVicImage"><a href="{% url 'game_detail' game.id %}">
            {% if victory_info.get_victory_image != "" %}
                <img src="{{ victory_info.get_victory_image }}" alt="Image of winning player." />
            {% endif %}
        </a></td>
        <td class="colVicText">
            
            {% if victory_info.get_victory_message == "" and victory_info.display_always %}
        Player not defined. → No default victory message available.
        Write one if this field should not be empty.
            {% else %}
            {{ victory_info.get_victory_message|bleach }}
            {% endif %}
            </td>
    </tr>
</table>
{% endblock %}
