{% extends "pbspy/base.html" %}
{% load i18n %}

{% block content %}
    <div id="game_summary">
        <h1 id="game_name">{{ game.name }}</h1>
        <div class="game_info">{% trans "Turn" %}: {{ game.turn|default:_("n/a") }}</div>
        <div class="game_info">{% trans "Year" %}: {{ game.year_str|default:_("n/a") }}</div>
        {% if game.timer %}
            <div class="game_info">{% trans "Timer" %}:
                {% blocktrans with end=game.timer_end|timeuntil hours=game.timer_max_h %}
                    Turn ends in {{ end }} ({{ hours }} hours per turn)
                {% endblocktrans %}
            </div>
        {% else %}
            <div class="game_info">{% trans "No timer set." %}:</div>
        {% endif %}
        <div class="game_info">
            {% if game.is_paused %}
                {% trans "The game is paused." %}
            {% else %}
                {% trans "The game is not paused." %}
            {% endif %}
        </div>
        <div class="game_info">
            Admins for this game: {{ game.admins.all | join:", " }}
        </div>
        <div id="game_description">
            <pre>
                {{ game.description }}
            </pre>
        </div>
        <div id="game_info"><a href="{{ game.url }}">{{ game.url }}</a></div>
    </div>
    <div id="game_players">
        {% if players %}
            <table class='game_players'>
                <tr>
                    <th>⌛</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Leader" %}</th>
                    <th>{% trans "Nation" %}</th>
                    <th>{% trans "Score" %}</th>
                    <th>{% trans "Status" %}</th>
                </tr>
                {% for player in players %}
                    <tr>
                        <td>{% if player.finished_turn %}*{% endif %}</td>
                        <td>{{ player.name }}</td>
                        <td>{{ player.leader }}</td>
                        <td>{{ player.civilization }}</td>
                        <td>{{ player.score }}</td>
                        <td>{{ player.status }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>{% trans "No players available yet." %}</p>
        {% endif %}
    </div>
    <div id="game_log">
        {% if log %}
            <table class='game_log'>
                <tr>
                    <th>{% trans "Time" %}</th>
                    <th>{% trans "Turn" %}</th>
                    <th>{% trans "Player" %}</th>
                    <th>{% trans "Event" %}</th>
                </tr>
            {% for logentry in log %}
                <tr>
                    <td>{{ logentry.date }}</td>
                    <td>{{ logentry.turn }}</td>
                    <td>{{ logentry.player_name|default:"-" }}</td>
                    <td>{{ logentry.message }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>{% trans "No game log entry available yet." %}</p>
        {% endif %}
    </div>
{% endblock %}