{% extends "pbspy/base.html" %}
{% load i18n %}

{% block content %}
    <div id="game_management">
        <h1 id="game_name">Management for {{ game.name }}</h1>
        {% include "pbspy/navigation_line.html" with skip=-1 %}

        {% if players_online|length > 0 %}
            <div class="game_management_section">
                <h2>{% trans "Warning" %}</h2>
                <p>
                    {% blocktrans trimmed count n=players_online|length with num_players=players_online|length %}
                    Currently, one player is logged in.
                    {% plural %}
                    Currently, {{ num_players }} players are logged in.
                    {% endblocktrans %}<br\>
                </p>
            </div>
        {% endif %}
        <div class="game_management_section">
            <h2>{% trans "load game" %}</h2>
            <span class="description">{% trans "Mostly saves are protected by an admin password. The password is deposited in the configuration file 'pbSettings.json' and can not be modified over the webinterface. Thus, you should only load saves with same password." %}</span>

            <form method="post" action="{% url 'game_manage' game.id 'load' %}">
                {% csrf_token %}
                <table>{{ load_form }}</table>
                <span><input type="submit" value="{% trans "load game" %}"/></span>
            </form>
        </div>
    </div>
{% endblock %}
