{% extends "pbspy/base.html" %}
{% load i18n %}

{% block content %}
    <div id="game_management">
        <h1 id="game_name">Management for {{ game.name }}</h1>
				(<a href="{% url 'game_detail' game.id %}">game overview</a>,
				<a href="{% url 'game_manage' game.id "" %}">manage game</a>
				)
				{% if set_color_message  %}
        <div class="game_management_section">
					<h2>{% trans "Colorset changed" %}</h2>
					<p>{% trans "The colorset was updated for " %}{{ set_color_message }}.</p>
				</div>
				{% endif %}
				<div class="game_management_section">
					<h2>{% trans "Change colorset of player" %}</h2>
					<form method="post" action="{% url 'game_manage' game.id 'set_player_color' %}">
						{% csrf_token %}
						<table>{{ set_player_color_form }}</table>
                 <span><input type="submit" value="{% trans "change player colorset" %}" /></span>
             </form>
        </div>
        <div class="game_management_section">
					<h2>{% trans "Available colorsets" %}</h2>
					<table class='game_colors'>
						<tr>
							<th class="colSet">Colorset</th>
							<th class="colId">Id</th>
							<th class="colUsedBy">Used by</th>
						</tr>
						{% for color in colors %}
						<tr>
							<td class="colSet">
								<span style="background-color:rgba({{ color.primary }});">Primary</span>
								<span style="background-color:rgba({{ color.secondary }});">Secondary</span>
								<span style="background-color:rgba({{ color.text }});">Textcolor</span>
							</td>
							<td class="colId">{{ color.id }}</td>
							<td class="colUsedBy">
								{% for pl in color.usedBy %}
									{{ pl.name }},
								{% endfor %}
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>
    </div>
{% endblock %}
