bleach
Django==1.11.*
django-crispy-forms
django-debug-toolbar
django-erroneous
django-floppyforms
django-polymorphic
django-registration-redux
django-static-precompiler
mysqlclient
pytz
six
South
sqlparse
