[Unit]
Description=Starts Pitboss watchdog daemon as user
After=network.service

[Service]
Type=simple
User={USER}
Group={GROUP}
WorkingDirectory={FOLDER}
Environment="PYTHONPATH={SITE_PACKAGES}"
ExecStart=/usr/bin/python3 pitboss_watchdog.py {WATCHDOG_ARGS}
Restart=always
RestartSec=60
#TimeoutSec=60
AmbientCapabilities=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
